@inherits LayoutComponentBase

<div class="app-shell">
    <header class="app-header">
        <a href="/" class="logo">🏰 Avalon</a>
    </header>
    <main>
        @Body
    </main>
</div>
