<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avalon Online</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css?v=3" />
    <HeadOutlet @rendermode="@Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="@Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.scrollChatToBottom = (el) => { if (el) el.scrollTop = el.scrollHeight; };
    </script>
</body>
</html>
